{%load crispy_forms_tags%}

<!DOCTYPE html>
<html lang="en">
{%load static%}
{%include 'header.html'%}

<body >
  <section id="projects"><br><br>
 	<center><h1>Sign Up</h1></center>
    <div id="signup" class="col-4 offset-4 mt-5 mb-5">
	<form method="POST">
		{%csrf_token%}
		{{form|crispy}}
		{% if messages %}
		  <ul class="messages">
		    {% for message in messages %}
		      <li class="{{ message.tags }}">{{ message }}</li>
		    {% endfor %}
		  </ul>
		{% endif %}
		<center><button class="btn btn-dark" type="submit">Submit</button></center>
	</form>
	<br>
	<a href="/">Home</a> |
	<a href="/login/">Login</a>
	
</div>
</section>
</body>
</html>	